{% extends "base.html" %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
<div class="mt-5">
    <h2>Lista de Usuários</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>João Silva</td>
                <td>joao.silva@gmail.com</td>
                <td>12/12/1990</td>
                <td>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                    <a href="#"><i class="fas fa-search"></i></a>
                </td>
            </tr>
            <tr>
                <td>Maria Santos</td>
                <td>maria.santos@gmail.com</td>
                <td>15/05/1992</td>
                <td>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                    <a href="#"><i class="fas fa-search"></i></a>
                </td>
            </tr>
            <!-- Adicione mais linhas como essas para gerar mais dados -->
        </tbody>
    </table>

    <div class="mb-3">
        <a href="#" class="btn btn-primary">Adicionar Novo</a>
    </div>
</div>
{% endblock %}
